# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# IDE and editor configs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Data and test files
test.csv

# Ignore images folder (e.g., test samples or outputs)
images/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.*
